.header {
    height: 133px;
    display: flex;
    align-items: center;
}

.header__phone a {
    margin: 0 auto 0 0;
    color: #000C06;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: .3s;
    display: inline-flex;
    align-items: center;

    img {
        margin-right: 10px;
        transition: .3s;
    }

    &:hover {
        color: #FEE5A5;

        img {
            transform: rotate(25deg);
        }
    }
}

.header__logo {
    text-align: center;

    a {
        display: inline-block;
    }

    img {
        width: 170px;
        background-size: cover;
    }
}

.header__btn {
    text-align: right;
}


//  ================  ADAPTIVE ================ //

@media (max-width:991.8px) {
    .header__btn a {
        padding: 20px 30px;
    }
}

@media (max-width:767.8px) {
    .header {
        height: auto;
        padding: 15px 0 30px;
    }

    .header__phone {
        text-align: center;
        margin-bottom: 20px;
    }

    .header__btn a {
        padding: 20px 30px;
    }

    .header__logo {
        text-align: left;
    }
}

@media (max-width:575.8px) {
    .header__btn a {
        padding: 10px 20px;
        font-size: 14px;
        height: 37px;
    }

    .header__logo img {
        width: 94px;
    }

    .header__phone {
        margin-bottom: 15px;

        a {
            font-size: 13px;
        }
    }
}